@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*............................heading*/
header{
    margin: 0;
}

.heading{
    margin-left: 50px;
}

.logo{
    background: url("../images/logo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out ;
}

.bg-color{
    background-color:rgb(123, 122, 122) ;
}

.name{
    font-family:"Exo", sans-serif;
    font-weight: 100;
    font-size: 45px;
    margin-top: 50px;
    color: white;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

ol, ul {
    padding-left: 0;
}

/*---------------------------------menu*/

.menu-color-home{
    background-color: #9873bb;
}

.menu-resume-color{
    background-color: #c1c430;
}

.menu-contact-color{
    background-color: #3890af;
}

.menu-download-color{
    background-color: #d26b3f;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container{
    font-size: 0;
}

#nav{
    margin: 0;
}

#nav li{
    font-size: 15px;
    padding: 0;
}

.menu-item{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a{
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}

.menu-item a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menu-item{
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------hover*/

.hvr-sweep-to-bottom:before{
    background-color: rgba(0,0,0,0.2);
    height: 120px;
}

/*----------------------footer*/
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family:"Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

footer{
    background-color: rgb(123, 122, 122) ;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.inline-block{
    display: inline-block;
}

.download-cv{
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.download-cv i:hover {
    color: #d26b3f;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

.social-links li a i:hover{
    background-color: #d26b3f;
}

#footer-details{
    padding: 20px;
}

/*--------------------------section*/
.bg-color-three-reasones{
    background-color: white;
     
}

.row-table{
    display: table;
}

.section-column{
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}